@tailwind base;

@layer base {
	main {
		@apply text-accent;
	}
	html {
		scroll-behavior: smooth;
	}
	.btn {
		@apply hover:bg-black;
	}
}

@tailwind components;
@layer components {
	.btn {
		@apply hover:bg-black;
		@apply disabled:bg-gray-500;
		@apply disabled:text-slate-300;
	}
}

@tailwind utilities;
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
